#main_div{
  /* font-family:"Calibri, sans-serif"; */
  font-family: 'Poppins';
  font-size: 14px;
}
#left_block{
    float: left;
    width: 20%;
}

#right_block{
    width:80%;
}

#left_in_right_block{
  height: 650px;
  overflow: auto;
}
#expiry_in_pos{
  width:20px;
}

#lot_input{
  width: 15px
}

#strike_input{
  width: 50px;
}

#expiry_input{
  width: 100px;
}

th{
  text-align: center;
}

#BUY{
  width: 50px
}

#SELL{
  width: 50px
}




#sell{
    background: #ffffff;
    border: 1px solid #484848;
    border-radius: 2px;
    color: #484848;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
  }
  
  #sell:hover,
  #sell:active {
    background-color: initial;
    background-position: 0 0;
    color: #ffff;
    background: #ff4646;
  
  }

  #buy{
    background: #ffffff;
    border: 1px solid #484848;
    border-radius: 2px;
    color: #484848;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
  }
  
  #buy:hover,
  #buy:active {
    background-color: initial;
    background-position: 0 0;
    color: #ffff;
    background: #5980ff;
  
  }



  
#oc_table{
  width: 300px;
}

#oc_table th{
  width: 30%;
}

#oc_tbody, #oc_thead tr { 
  display: block;
  text-align: center; 
}


#oc_tbody {
  height: 600px;
  /* width: 350px; */
  overflow-y: auto;
  overflow-x: hidden;
  width:100%;
}

#oc_thead th:last-child {
  width: 156px; /* 140px + 16px scrollbar width */
}