<!--Give description to each blocks in details-->
<div id="main_div">
  <div id="left_block">
    <div id="left_block_top">
      <table>
        <tr>
          <td><b>Nifty</b> {{ nifty }}</td>
          <td>
            <select (change)="changeExpiry($event)" name="expirys">
              <option>Select Expiry</option>
              <option
                *ngFor="
                  let exp of expiryInDropDown | slice: 0:12;
                  let index = index
                "
              >
                {{ exp }}
              </option>
            </select>
          </td>
          <td>
              <input type = 'submit' value = 'refresh' (click) = "refreshCurrentExpiry()"/> 
              <!-- auto refreesh check box-->
          </td>
        </tr>
      </table>
      <!-- Button to update option chain and check this fucntionality is working on live market?-->
      <!-- Button to add our current position with entered value (auto fetch from dl dir)-->

      <!-- <select  name = 'expirySelectWindow'> -->
    </div>
    <div id="left_block_bottom">
      <div id="oc">
        <table id='oc_table' >
            <thead id = 'oc_thead'>
                <tr *ngIf='optionChainStrike.length>0'>
                    <th>Call</th><th>Strike</th><th>Put</th>
                </tr>
            </thead>
        <tbody id = "oc_tbody" #scrollMe [scrollTop]="scrollMe.scrollHeight/3.4">   <!--NOTE: scroll to middle-->

          <tr *ngFor="let item of optionChainStrike; let index = index">
            <!-- <tr> -->
            <td>{{ ce[index] }}</td>
            <td>
              <!-- <input type='submit' value='B' (click)='positionAdd(index,CE,BUY)''> -->
              <input
                type="submit"
                value="B"
                id="buy"
                (click)="positionAddFromOC(index, 'CE', 'BUY')"
              />
              <input
                type="submit"
                value="S"
                id="sell"
                (click)="positionAddFromOC(index, 'CE', 'SELL')"
              />
            </td>
            <td>{{ optionChainStrike[index] }}</td>
            <td>
              <input
                type="submit"
                value="B"
                id="buy"
                (click)="positionAddFromOC(index, 'PE', 'BUY')"
              />
              <input
                type="submit"
                value="S"
                id="sell"
                (click)="positionAddFromOC(index, 'PE', 'SELL')"
              />
            </td>
            <td>{{ pe[index] }}</td>
          </tr>
        </tbody>

        </table>
      </div>
    </div>
  </div>
  <div id="right_block">
      <div id = "left_in_right_block">

    <input type="submit" value="Add Existing Position (from dl)" (click)="addExistingPosition()" />
    <input type="submit" value="Clear All Positions" (click)="clearAllPositions()" />
    <!-- <input type="text" (keyup)="expectedProfit($event)" /> -->
    
    <table>
      <tr *ngIf='total>0'>
        <th></th>
        <th></th>
        <th>Expiry</th>
        <th>Strike Price</th>
        <th>Type</th>
        <th>Lot</th>
        <th>Trade</th>
        <th></th>
        <th>Max P</th>
        <th>Max L</th>
      </tr>
      <tr *ngFor="let item of range(); let index = index">
        <td id = {{isDuplicate[index]}}></td>
        <td>
          <input type="checkbox" (change)="isCheckBoxEnable(index)" [checked] = "checked[index]"/>
        </td>

        <td>
          <select
            (change)="changePositionExpiry($event, index)"
            id="expiry_in_pos"
          >
            <option>Choose</option>
            <option
              *ngFor="
                let exp of expiryInDropDown | slice: 0:12;
                let index = index
              "
              [selected]="expiry[index] == exp"
            >
              {{ exp }}
            </option>
          </select>

          <input
            type="text"
            id="expiry_input"
            value="{{ expiry[index] }}"
            disabled
          />
        </td>
        <td>
          <input type="submit" value="-" (click)="reduceStrike(index)" />
          <input
            type="text"
            id = "strike_input"
            value="{{ strikeprice[index] }}"
            disabled
          />
          <input type="submit" value="+" (click)="increaseStrike(index)" />
        </td>
        <td>
            <button (click)="changePositionType(index)" id={{pe_ce[index]}}>{{pe_ce[index]}}</button>
        </td>
        <td>
            <input type="submit" value="-" (click)="reduceLot(index)" />
          <input
            type="text"
            id = "lot_input"
            value="{{ lot[index] }}"
            disabled
          />
          <input type="submit" value="+" (click)="increaseLot(index)" />

        </td>
        <td>
            <button (click)="changePositionBuySell(index)" id={{buy_sell[index]}}>{{buy_sell[index]}}</button>
        </td>
        <td>
          <input type="submit" value="X" (click)="deletePosition(index)" />
        </td>
        <td id = 'max_profit'>{{max_profit[index]}}</td>
        <td id = 'max_loss'>{{max_loss[index]}}</td>
      </tr>
    </table>

    </div>
    <div id = "right_in_right_block">
        
      
     

    </div>

    <!-- <div class="button-groups">
    <button (click)="isLoading=!isLoading" nz-button nzType="default">Toggle Loading</button>
</div>
<div echarts [options]="options" [loading]="isLoading" theme="macarons" class="demo-chart"></div> -->
  </div>
</div>
